/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    paddding: 0;*/


body {
    background-color: #F0F0F0;
    margin: 5px;
    /*font-family: */
}
.h-divider{
    margin-top:25px;
    margin-bottom:25px;
    height:1px;
    width:100%;
    border-top:1px #F0F0F0;
}

/*img {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/

h1 h2 h4 h5 {
    font-family: "Anton", sans-serif;
}

p {
    font-family: "Abel", sans-serif;
}

.logo {
    width: 30vw;
}

.design {
    background-color: #E6563B
}
.develop {
    background-color: #DEA03D
}
.support {
    background-color: #76B06C
}
.host {
    background-color: #00ABA9
}

.circle{
    border: solid white 1em;
    color: white;
    border-radius: 50%;
    width: 25vw;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-circles {
    font-weight: bold;
    margin-left: 10px;
    border-radius: 50%;
    width: 25vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*@media*/